<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="shortcut icon" href="#">
    </head>

    <body>

        <header>
            <div class="navbar"> 
                <h1 class="h1">Travel Planner</h1>
                 <nav>
                  <ul class="nav_link">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">About Me</a></li>
                  </ul>
                </nav>
              </div>
                </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input type="text" id="location" name="input" value="" placeholder="Location">
                    <input type="date" id="start-date" name="date" placeholder="MM/DD/YYYY"  />
                    <input type="date" id="end-date" name="date" placeholder="MM/DD/YYYY"  />
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class="box">
                <strong class="text">Results:</strong>
                <div class="text" id="destination"></div>
                <div class="text" id="total_days"></div>
                <div class="text" id="weather"></div>

                <img class="box-img" id="image_1"></img>
                <img class="box-img" id="image_2"></img>

            </section>
        </main>

        <footer class="footer">
            <p class="copy_rights"> © 2020 aboXmsa3d</p>
        </footer>
            
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
